body {
    background-color: white;
}

div{
    background-color:white;
    text-align:center;
    width:80%;
    padding:10px;
    margin:auto;
    margin-top:4rem;
}
#innerdiv{
    background-color:red;
    margin:auto;
}

input{
    border-radius:.25rem;
    margin-bottom:8px !important;
    margin-top:8px !important;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da;
}
h{
    font-size:40px;
    margin:20px;
}
