<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pocetna</title>
    <script th:inline="javascript">
        var fitnes;
    </script>
    <script src="/js/login.js" type="text/javascript"></script>
    <script src="/js/fitnes.js" type="text/javascript"></script>

</head>
<body>
<div>
    <div id="innerdiv">
        <h>Izmeni</h>
        <br>
        <form>
            <label for="naziv">Naziv</label>
            <input class="form-control mr-sm-2"  type="text" id="naziv" th:value="${fitnes.naziv}" />
            <br>
            <label for="adresa">Adresa</label>
            <input class="form-control mr-sm-2" type="text" id="adresa" th:value="${fitnes.adresa}"/>
            <br>
            <label for="br_tel_centrale">Broj telefona</label>
            <input class="form-control mr-sm-2" type="text" id="br_tel_centrale" th:value="${fitnes.br_tel_centrale}"/>
            <br>
            <label for="email">Email</label>
            <input class="form-control mr-sm-2" type="email" id="email" th:value="${fitnes.email}"/>
            <br>
            <button type="button" th:onclick="'editCinema('+${fitnes.id}+')'" class="btn btn-outline-secondary">Sacuvaj</button>
        </form>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/register.css">
</body>
</html>