<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        var korisnik;
    </script>
    <script src="/js/login.js" type="text/javascript"></script>
    <script src="/js/auth.js" type="text/javascript"></script>
    <script src="/js/cancelling.js" type="text/javascript"></script>
    <title></title>
    <script src="https://kit.fontawesome.com/705b70177f.js" crossorigin="anonymous"></script>

</head>
<body onload="initAcc()">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg  navbar-light" style="background-color: #e3f2fd" bg-dark static-top>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Pocetna
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/fitnesi}">Treninzi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/treninzi}">Fitnes Centar</a>
                </li>
                <li id="online" class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="profile()">Profil</a>
                            <a class="dropdown-item" onclick="logOut()">Odjava</a>
                        </div>
                    </div>

                </li>
                <li id="offline" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form class="px-4 py-3" id="loginForm">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email"  />
                            </div>
                            <div class="form-group">
                                <label for="lozinka">Lozinka</label>
                                <input type="password" class="form-control" id="lozinka"  />
                            </div>

                            <button type="button" onclick="login()" class="btn btn-primary">Prijava</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/registracija}">Registacija</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="row justify-content-center online">
        <div class="card col-sm-6">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top" src="/images/acc.jpg" alt="Card image cap">
                    <h5 class="card-title" style="text-align:center;padding:0.75rem 0.25rem 0.25rem 0.25rem;" th:text="${korisnik.korisnicko_ime}"></h5>
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="'Ime : ' + ${korisnik.ime}"></li>
                            <li class="list-group-item" th:text="'Prezime : ' + ${korisnik.prezime}"></li>
                            <li class="list-group-item" th:text="'Email : ' + ${korisnik.email}"></li>
                            <li class="list-group-item" th:text="'Broj telefona : ' + ${korisnik.kontakt_broj}"></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center viewer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" onclick="odradjen_trening()">Odradjeni treninzi</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" onclick="reservations()">Prijavljeni</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row justify-content-center clan">
        <div class="col-sm-6">
            <table id="reservations" class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Datum</th>
                    <th>Vreme</th>
                    <th>Cena</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="karta : ${korisnik.prijavljen}">
                    <td th:text="${karta.dan}"></td>
                    <td th:text="${karta.vreme}"></td>
                    <td th:text="${karta.cena_karte}"></td>
                    <td>
                        <button type="button" th:onclick="'cancelReservation('+${karta.id}+')'" class="btn btn-outline-secondary">Otkazi</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</body>
</html>